#sketch {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
}

#intro-container {
    position: absolute;
    color: #fff;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    z-index: 100
}

header.masthead {
    text-align: center;
    color: #fff;
    background: transparent;
    height: 100vh;
    /* background: #18bc9c; */
}

header.masthead .intro-text .name {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}

header.masthead .intro-text .skills {
    font-weight: 400;
    font-size: 3em;
}

@media (max-width: 768px) {
    header.masthead .intro-text .name {
        font-size: 3em;
    }
    header.masthead .intro-text .skills {
        font-weight: 400;
        font-size: 2em;
    }
}

#about{
    color: #2c3e50;
}

.div-hr {
    max-width: 250px;
    margin: 25px auto 0px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px;
    border-color: white;
}

.div-hr .overlay {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.star-slider {
    border-radius: 5px;
    width: 64px;
    height: 60px;
    background-color: #2c3e50;
    padding: 0;
}



/* Intrest */
.interest-div{
    display: flex;
    background-color: white;
    max-height: 50vh;
    justify-content: center;
    align-items: center;

}

.interest-div img {
    max-height: 40vh;
    width: auto;
    padding: 15px;

}

.img-circle {
    border-radius: 50%;
}



/* Alert  */
.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: #18BC9C;
    border: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .5)
}

.alertify-notifier .ajs-message.ajs-error{
    color: #fff;
    background: #96102F;
    border: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .5)
}

